.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}
.titleContainer {
    background-color: #005FB8;
    color: white;
    padding: 5px;
    border-radius: 0.5rem 0.5rem 0 0;
}
.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}