.container {
    flex: 0 0 230px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.sidebarList {
    width: 100%;
    margin-top: 34px;
}


@media screen and (max-width: 968px) {
    .container {
      display: none;
    }
    .show {
        width: 200px;
        display: flex;
        position: absolute;
        z-index: 2;
    }
}